.report-card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  min-height: 200px;
  overflow: hidden;
  width: auto;
  gap: 4px;
  display: grid;
  cursor: pointer;
}

.report-comments {
  margin-top: 12px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 12px;
  padding: 20px;
  height: 270px;
}

.empty-comments-container {
  margin-top: 24px;
}

.top-header {
  padding: 16px;
}

.select-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: flex-start;
  gap: 8px;
}

.error-text {
  color: red;
  font-size: 12px;
}

.form-create-button {
  border-radius: 8px;
  padding: 8px;
  border: none;
  cursor: pointer;
}
.report-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 12px;
}

.close-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px 1px #d6d5d5;
}

.padded-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input[type="text"],
input[type="date"],
select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fffefe;
  transition: border 0.3s ease;
  font-family: Arial, sans-serif;
}
.create-report {
  position: fixed;
  right: 40px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: rgb(96, 93, 93);
  color: white;
  cursor: pointer;
}

.details-form {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  border-radius: 8px;
}

.form-section {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
}

.section-header {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.section-content {
  margin-top: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
  width: 100%;
  min-width: 250px;
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 5px;
}

textarea {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  height: 150px;
  border: 1px solid #e1e1e1;
  font-family: Arial, sans-serif;
}

.help-text {
  font-size: 12px;
  color: #888;
}
.report-details-card-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  margin-block-end: 12px;
}

.column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.comment-date {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(70, 68, 68);
}
.report-details-header {
  margin-block: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.report-satellite-image {
  width: 350px;
  height: 250px;
  border-radius: 16px;
  border: 1px solid rgb(226, 224, 224);
}

.report-details-card {
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 0 5px 2px #d6d5d5;
}

.badge {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
  text-transform: capitalize;
  color: white;
  width: fit-content;
}

.badge-maintenance {
  background-color: #28a745;
}

.badge-incident {
  background-color: #dc3545;
}

.badge-issue {
  background-color: #ffc107;
}

.report-details {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.comments-section {
  display: grid;
  gap: 4px;
  margin-block-end: 12px;
}

.comments-container {
  height: 130px;
  margin-block-end: 12px;
  overflow-y: auto;
}

.comment-textarea {
  height: 60px;
}

.comment-content {
  margin-inline-start: 12px;
}
