.breadcrumb-link {
  text-decoration: underline;
}

.breadcrumb-link:hover {
  color: #0073e6;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  gap: 4px;
}

.clear {
  background: none;
}

.details-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

.filter.active {
  background-color: rgb(58, 58, 58);
  color: white;
}
.filters {
  display: flex;
  gap: 12px;
  padding-block: 12px;
  align-items: center;
}

.satellite-details {
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.satellite-image {
  border-radius: 16px;
  width: 400px;
  height: 320px;
  border: 1px solid rgb(213, 211, 211);
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  padding: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.stack {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.icon {
  font-size: 24px;
}

label {
  font-size: 14px;
  color: rgb(74, 73, 73);
}

.info-details {
  display: grid;
  gap: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}

.payloads-section {
  padding: 20px;
}

.payloads-section ul {
  list-style-type: none;
  padding: 0;
}

.payloads-section li {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.table-container {
  width: 100%;
  margin: 12px 0;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f3f4f6;
  color: #333;
}

.table tr:hover {
  background-color: #f9f9f9;
}

.button-div {
  margin-block: 12px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.arrows {
  font-size: 16px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-block-start: 48px;
}
